@use './dark-theme.scss';
@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@500&family=Oswald&family=Roboto&family=Roboto+Condensed&family=Roboto+Mono&display=swap');

$roboto-italic: 'Roboto Condensed', sans-serif;
$roboto-mono: 'Roboto Mono', monospace;
$roboto: 'Roboto', sans-serif;
$oswald: 'Oswald', sans-serif;
$josefin: 'Josefin Sans', sans-serif;

//////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////
////////////////////////////////////////////////         palet color        /////////////////////////////////////////////////////////////////////////////////////
/////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////

$light: #f7f7f7;
$dark: #3a3a3a;

$red-stage-100: #fff4d3;
$red-stage-200: #ffe5a6;
$red-stage-300: #ffd16d;
$red-stage-400: #ffb232;
$red-stage-500: #ff980b;
$red-stage-600: #f57b01;
$red-stage-700: #d36103;
$red-stage-800: #a1490b;
$valencia-200: #f7c5c1;
$valencia-300: #f7afaa;
$valencia-400: #f08179;
$valencia-500: #e25d54;

///////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////
/////////////////////////////////////////////             mixins           ////////////////////////////////////////////////////////////////////////////////////
///////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////

@mixin clouds($time) {
  content: '';
  position: absolute;
  width: 50%;
  height: 250px;
  background: url('/src/assets/svg/cloud.svg') no-repeat bottom center;
  background-size: contain;
  z-index: 10;
  scale: 1.5;
  filter: blur(5px);
  animation: clouds $time linear infinite alternate-reverse;
}

@mixin ham-menu-bar($bg-color) {
  width: 3em;
  height: 0.3em;
  background: $bg-color;
  border-radius: 0.4em;
  box-shadow: 2px 2px 3px #13131357;
}

@mixin solar-ray($bottom, $left, $rotate) {
  content: '';
  height: 21em;
  width: 7em;
  bottom: $bottom;
  left: $left;
  rotate: $rotate;
  position: absolute;
  display: block;
  background: linear-gradient(to top, red, $valencia-500, transparent);
  -webkit-mask-image: linear-gradient(to bottom, #ffffff53, #ffffff00 100%);
  clip-path: polygon(37% 0, 66% 0, 100% 100%, 0 100%);
  animation: solar-ray 3s linear infinite alternate-reverse;
  pointer-events: none;
}

//////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////

html,
body {
  margin: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
  font-weight: 500;
  overflow-x: hidden;
  cursor: url('/src/assets/images/cloud.png'), auto;

  //////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////
  //////////////////////////////////////////////////////      header section    ///////////////////////////////////////////////////////////////////////////////////////////////////////////
  ////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////

  .header-container-lt {
    background: linear-gradient(to left, $red-stage-300, $red-stage-800, transparent);
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 3em);
    padding-bottom: 1em;

    &::before {
      @include clouds(12s);
      top: 7em;
      left: -1em;
    }

    &::after {
      @include clouds(9s);
      top: 2em;
      right: -2em;
    }

    .header-resourse-lt {
      grid-column: 1;
      font-family: $roboto-italic;
      margin: 1em 0 0 2em;
      z-index: 20;

      p {
        color: $light;
        font-size: 0.8em;
      }

      .header-url-lt {
        background-color: $light;
        display: flex;
        align-items: center;
        justify-content: space-around;
        border-radius: 0.4em;
        width: fit-content;
        gap: 1em;
        height: 2.5em;
        padding: 0 0.5em 0 0.5em;
        box-shadow: 5px 5px 5px #13131376;

        p {
          color: $dark;
          font-size: 0.8em;
        }

        button {
          border: none;
          color: $red-stage-400;
          cursor: url('/src/assets/images/cloud-hover.png'), auto;
        }
      }
    }

    .header-title-container-lt {
      color: $light;
      grid-column: 2;
      grid-row: 2/3;
      text-align: center;
      min-width: max-content;
      z-index: 20;

      > :first-child {
        display: flex;
        justify-content: space-evenly;
        border-bottom: 3px solid $red-stage-200;

        h1 {
          font-family: $roboto;
          font-size: 3em;
        }
        img {
          object-fit: contain;
          scale: 2;
        }
      }

      p {
        padding-top: 0.7em;
        font-family: $roboto-italic;
        text-align: center;
      }
    }

    .ham-menu-container {
      display: flex;
      flex-direction: column;
      gap: 0.4em;
      position: absolute;
      right: 1em;
      top: 1em;
      z-index: 15;

      &::after {
        content: '';
        position: absolute;
        display: block;
        bottom: -3em;
        right: -3em;
        border-radius: 50%;
        background: radial-gradient(circle, $red-stage-100, $red-stage-600, transparent);
        padding: 4em;
        filter: blur(5px);
        z-index: -1;
      }

      &:hover {
        cursor: url('/src/assets/images/cloud-hover.png'), auto;
      }
      :first-child {
        @include ham-menu-bar($red-stage-700);

        &::after {
          @include solar-ray(-25em, -1.5em, -3deg);
        }
      }

      :nth-child(2) {
        @include ham-menu-bar($red-stage-700);

        &::after {
          @include solar-ray(-8em, -16.5em, 94deg);
        }
      }

      :last-child {
        @include ham-menu-bar($red-stage-700);

        &::after {
          @include solar-ray(-19em, -13em, 48deg);
        }
      }
    }

    .header-menu-lt {
      background-color: $light;
      position: absolute;
      transform: translateX(-40em);
      border-right: 2px solid $red-stage-600;
      border-bottom: 2px solid $red-stage-600;
      border-radius: 0 0 0.4em 0;
      height: 99%;
      padding: 3em 0 0 2em;
      z-index: 200;
      transition: all 300ms;
      width: 25%;
      animation: lateral-menu-appear 300ms linear 1 forwards;
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      text-transform: capitalize;
      font-weight: 700;
      transition-property: background-color;
      transition-duration: 1s;
      overflow: hidden;

      h1 {
        color: $light;
        font-weight: 700;
        letter-spacing: 1px;
        font-size: 1.7em;
        align-self: center;
        position: absolute;
        top: 1em;
        text-shadow: 2px 2px 2px #0000007e;
        z-index: 40;

        &::before {
          content: '';
          position: absolute;
          right: 3em;
          top: 0em;
          width: 2em;
          min-height: 2em;
          background: url('../assets//images/icon.png') no-repeat center center;
          background-size: cover;
        }

        &::after {
          content: '';
          position: absolute;
          display: block;
          left: -6em;
          top: -1em;
          width: 500%;
          height: 300%;
          background-color: #f57b017c;
          z-index: -1;
        }
      }
      .nav-bar {
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        position: relative;
        gap: 1.5em;
        top: 6em;

        > :first-child,
        > :nth-child(2),
        > :nth-child(3) {
          border-bottom: 2px solid $red-stage-700;
          width: 0%;
          transition: all 500ms;
          color: $red-stage-600;

          &:hover {
            border-bottom: 2px solid $valencia-200;
            color: $valencia-200;
            text-shadow: none;
            width: 120%;
            transition: all 500ms;
            text-align: center;
            cursor: url('/src/assets/images/cloud-hover.png'), auto;
          }
        }

        .preference-container-lt {
          @extend %flex-row-center;
          justify-content: space-between;
          border-bottom: 2px solid $red-stage-600;
          width: 140%;

          p {
            color: $red-stage-600;
            padding-bottom: 0.5em;
            cursor: url('/src/assets/images/cloud-hover.png'), auto;
            z-index: 100;

            &:hover {
              color: $valencia-200;
              transition: all 500ms;
              text-shadow: none;
            }
          }
          span {
            color: $red-stage-600;
            scale: 2.2;
            bottom: 0.2em;
            position: relative;
          }
        }

        .hidden-preference-options {
          padding: 0 0 0 1em;
          transform: translateY(-4em);
          border-left: 1px solid $valencia-200;
          opacity: 0;
          pointer-events: none;
          transition: all 200ms;
        }
        .preferences-lt {
          pointer-events: all;
          border-left: 1px solid $valencia-200;
          transform: translateY(0em);
          height: 90%;
          transition: all 700ms;
          opacity: 1;

          .menu-list-lt {
            display: flex;
            flex-direction: column;
            gap: 2em;
            align-items: center;
            transform: translateY(1em);

            > :nth-child(2) {
              gap: 1em;

              > :first-child {
                border: 3px solid $red-stage-600;
                border-radius: 50%;
                box-shadow: 2px 2px 8px #13131376;
                transition: all 300ms;

                &:hover {
                  transition: all 300ms;
                  border: 3px solid $valencia-200;
                }
              }
              > :last-child {
                border: 3px solid $red-stage-600;
                border-radius: 50%;
                padding: 1em;
                color: $light;
                display: flex;
                justify-content: center;
                align-items: center;
                background-color: $red-stage-500;
                box-shadow: 2px 2px 8px #13131376;
                transition: all 300ms;

                &:hover {
                  transition: all 300ms;
                  background-color: $valencia-200;
                  color: $red-stage-600;
                  border: 3px solid $valencia-200;
                }
              }
            }

            li {
              button {
                cursor: url('/src/assets/images/cloud-hover.png'), auto;
              }
            }
          }
        }
      }
    }
  }
  ///////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////
  //////////////////////////////////////////////////////      main section    ///////////////////////////////////////////////////////////////////////////////////////////////////////////
  ///////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////

  .main-weather-container-lt {
    background: linear-gradient(to left, $red-stage-300, $red-stage-800, transparent);
    row-gap: 2em;
    height: 100dvh;
    font-weight: 400;
    font-family: $roboto-mono;
    background-color: $dark;
    color: $light;
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    grid-template-rows: repeat(2, 1fr);

    // if 'weatherData.city' does not have data yet, the application only displays an app overview
    .overview-app-lt {
      display: flex;
      flex-direction: column;
      justify-content: space-around;
      transform: translate(0, 8em);
      grid-column: 2 / span 5;
      grid-row: 1 / span 2;
      text-shadow: 2px 2px 1px #1313135d;

      .first-container,
      .second-container {
        display: flex;
        justify-content: space-around;

        > :first-child,
        > :last-child {
          @include dark-theme.overViewElement($valencia-300);
          font-family: $josefin;

          img {
            scale: 0.6;
            transform: translateY(3em);
          }

          > :first-child {
            position: absolute;
            top: 1em;
            z-index: 50;

            &::after {
              content: '';
              position: absolute;
              display: block;
              right: -13em;
              bottom: -1em;
              width: 3000%;
              height: 250%;
              background-color: #f57b017c;
              z-index: -1;
            }
          }
          > :last-child {
            padding: 0 3em;
            text-align: center;
          }
        }

        .hint-lt {
          transform: translateY(2em);
          text-align: start !important;
          scale: 0.95;
          align-self: flex-start;
          font-size: 0.9em;

          p {
            font-size: 1.1em;
          }
          > :last-child {
            margin-top: 1em;
            display: flex;
            flex-direction: column;
            gap: 0.5em;
            list-style: circle;
          }
        }
      }
    }

    // feature : find the current weather depends on text input value when the user click on the search button
    .form-container-lt {
      grid-row: 1;
      grid-column: 4;
      display: flex;
      z-index: 20;

      &:hover {
        box-shadow: none;
      }

      .main-weather-form-lt {
        margin-top: 3em;
        display: flex;
        height: fit-content;
        border-radius: 0.5em;
        box-shadow: 5px 5px 5px #13131376;
        z-index: 25;

        &:focus-within {
          box-shadow: none;
          transition: all 400ms;
        }

        .weather-input-lt {
          padding: 0.5em 0 0.5em 1.5em;
          text-transform: capitalize;
          outline: none;
          border: none;
          border-radius: 0.5em 0 0 0.5em;
          font-family: $roboto-mono;
          font-weight: bolder;
          color: $red-stage-600;
          background-color: $light;

          &:focus {
            background-color: $red-stage-100;
          }
          &::placeholder {
            opacity: 0.8;
            font-size: 0.7em;
            font-weight: 400;
          }
        }

        .weather-serchBtn-lt {
          border-radius: 0 0.5em 0.5em 0;
          padding: 0.4em;
          background-color: $red-stage-600;
          border-left: 2px solid $red-stage-300;
          outline: none;

          &:hover,
          &:focus {
            background-color: $red-stage-300;
            border-left: 2px solid $red-stage-600;
            transition: all 300ms;
            cursor: url('/src/assets/images/cloud-hover.png'), auto;
          }
        }
      }

      .error-message {
        display: block;
        color: #fd9898;
        text-shadow: 1px 1px 1px #11111138;
        font-family: $roboto;
        margin-top: 0.5em;
      }

      .error-container {
        background-color: #ff000022 !important;
        transition: all 300ms !important;
      }

      /* this section make reference to the researched locations */
      .search-history-lt {
        text-shadow: 1px 1px 1px #13131397;
        transform: translate(-20em, 3em) scale(0.5);
        text-transform: capitalize;
        transition: all 300ms;
        padding: 3.5em 2em;
        display: flex;
        position: absolute;
        left: 0;
        top: 13em;
        border-radius: 0.5em;
        border-top: 2px solid $red-stage-700;
        border-right: 2px solid $red-stage-700;
        border-bottom: 2px solid $red-stage-700;
        background-color: $valencia-200;

        > :first-child,
        > :nth-child(2),
        > :nth-child(3) {
          display: flex;
          flex-direction: column;
          justify-content: space-around;
          border-bottom: 2px solid $red-stage-700;
          border-top: 2px solid $red-stage-700;
          transform: translateY(0.9em);
          padding: 0 1em;
        }

        > :last-child {
          @extend %flex-row-center;
          right: 40%;
          gap: 0.5em;
          top: 0.7em;
          position: absolute;
          cursor: url('/src/assets/images/cloud-hover.png'), auto;
          font-weight: 700;
          border: 2px solid $red-stage-200;
          background-color: $red-stage-600;
          padding: 0.5em;
          border-radius: 0.5em;
          scale: 0.8;

          &:hover {
            color: $red-stage-800;
            background: $red-stage-400;
            border: 2px solid $red-stage-800;
            transition: all 300ms;
          }
        }
      }

      .history {
        @extend %flex-row-center;
        position: absolute;
        left: -0.8em;
        transform: translateY(3.8em);
        cursor: url('/src/assets/images/cloud-hover.png'), auto;
        border: 2.5px solid $red-stage-200;
        border-left: none;
        border-radius: 0 0.5em 0.5em 0;
        padding: 0.5em 1em;
        background-color: $red-stage-500;
        box-shadow: 5px 5px 5px #13131336;
        transition: all 300ms;
        z-index: 100;
        gap: 0.5em;
        scale: 0.8;
        font-weight: 700;

        &:hover {
          transition: all 300ms;
          color: $red-stage-800;
          background: $red-stage-300;
          border: 2.5px solid $red-stage-800;
          border-left: none;
        }
      }
    }

    /* card info with the current weather data */
    .weather-container-lt {
      grid-column: 2 / span 3;
      grid-row: 2;
      display: grid;
      grid-template-columns: repeat(3, 1fr);
      grid-template-rows: repeat(6, 0.6fr);
      box-shadow: 5px 5px 5px #13131336;
      border-radius: 0 0 0.6em 0.6em;

      > :first-child {
        grid-column: 1 / span 3;
        grid-row: 1 / span 5;
        overflow: hidden;
      }
      > :last-child {
        grid-column: 1 / span 3;
        grid-row: 6;
      }

      .weather-info-section-lt {
        text-shadow: 2px 1px 1px #13131368;
        background: $valencia-200;
        border-radius: 0 0 0.6em 0.6em;
        display: grid;
        grid-template-columns: repeat(3, 0.5fr);
        grid-template-rows: repeat(3, 2.5em);
        color: $light;
        font-family: $roboto-italic;

        .item-1-lt {
          display: flex;
          justify-content: center;
          align-items: center;
          gap: 0.5em;
        }
        > :nth-child(2) {
          grid-column: 2;
          place-self: center end;
        }
        > :nth-child(3) {
          grid-column: 1;
          grid-row: 2 / 3;
          font-size: 3em;
          place-self: start center;
        }

        .item-4-lt {
          grid-column: 2;
          grid-row: 2 / 3;
          display: flex;
          flex-direction: column;
          align-items: center;
          padding: 1em 3em 0 0;
          width: max-content;
        }

        .item-5-lt {
          grid-column: 3;
          grid-row: 2 / 3;
        }
      }
    }
  }

  ///////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////
  //////////////////////////////////////////////////////      aside section    ///////////////////////////////////////////////////////////////////////////////////////////////////////////
  ///////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////

  .aside-container {
    margin-left: 2em;
    grid-column: 5 / span 2;
    grid-row: 2;

    p {
      text-align: center;
      width: max-content;
      margin:  0 auto;
      font-family: $josefin;
      border-bottom: 2px solid $valencia-200;
      text-shadow: 1px 1px 1px #00000058;
    }

    .aside-weather-next-days {
      margin-top: 1em;
      display: flex;
      flex-direction: column;
      gap: 0.5em;

      .aside-grid-item-1 {
        @include dark-theme.aside_item($valencia-200);
        box-shadow: 5px 5px 5px #13131336;
        animation: overviewApp 500ms linear forwards;

        > :first-child {
          @include dark-theme.aside_date($valencia-400, $light, $light);
          color: $light;
        }
        > :nth-child(2) {
          grid-row: 4;
          grid-column: 1;
          text-align: end;
        }
        > :nth-child(3) {
          @extend %aside_main_temp;
        }
        > :nth-child(4) {
          grid-row: 4;
          grid-column: 3;
          text-align: start;
        }
        > :last-child {
          position: absolute;
          filter: drop-shadow(2px 2px 2px #13131336);
          scale: 2;
          transform: translate(0.5em, 1em);
        }
      }

      .aside-grid-item-2 {
        @include dark-theme.aside_item($valencia-200);
        box-shadow: 5px 5px 5px #13131336;
        animation: overviewApp 800ms linear forwards;

        > :first-child {
          @include dark-theme.aside_date($valencia-400, $light, $light);
          color: $light;
        }
        > :nth-child(2) {
          grid-row: 4;
          grid-column: 1;
          text-align: end;
        }
        > :nth-child(3) {
          @extend %aside_main_temp;
        }
        > :nth-child(4) {
          grid-row: 4;
          grid-column: 3;
          text-align: start;
        }
        > :last-child {
          position: absolute;
          filter: drop-shadow(2px 2px 2px #13131336);
          scale: 2;
          transform: translate(0.5em, 1em);
        }
      }
      .aside-grid-item-3 {
        @include dark-theme.aside_item($valencia-200);
        box-shadow: 5px 5px 5px #13131336;
        animation: overviewApp 1.2s linear forwards;

        > :first-child {
          @include dark-theme.aside_date($valencia-400, $light, $light);
          color: $light;
        }
        > :nth-child(2) {
          grid-row: 4;
          grid-column: 1;
          text-align: end;
        }
        > :nth-child(3) {
          @extend %aside_main_temp;
        }
        > :nth-child(4) {
          grid-row: 4;
          grid-column: 3;
          text-align: start;
        }
        > :last-child {
          position: absolute;
          filter: drop-shadow(2px 2px 2px #13131336);
          scale: 2;
          transform: translate(0.5em, 1em);
        }
      }
    }
  }

  //////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////
  //////////////////////////////////////////////////////      footer section    ///////////////////////////////////////////////////////////////////////////////////////////////////////////
  ////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////

  .footer-container-lt {
    display: grid;
    grid-template-columns: repeat(8, 1fr);
    grid-template-rows: repeat(7, 4.5em);
    scroll-behavior: smooth;
    background: linear-gradient(to left, $red-stage-300, $red-stage-800, transparent);
    padding-top: 12em;

    /* frecuently asked question section */
    .faq-section-container-lt {
      grid-column: 1 / span 4;
      grid-row: 1 / span 7;
      display: flex;
      flex-direction: column;
      justify-content: center;
      padding: 0 1.5em;
      background-color: $valencia-300;
      margin: 0.5em 0 0.5em 0.5em;
      border-radius: 0.5em;
      box-shadow: 5px 5px 5px #13131376;
      position: relative;
      overflow: hidden;
      z-index: 10;

      h1 {
        text-align: center;
        @extend %h1_footers;
        color: $light;
        font-size: 1.4em;
        position: relative;
        top: -2em;
        z-index: 50;

        &::after {
          content: '';
          position: absolute;
          display: block;
          right: -13em;
          bottom: -1.5em;
          width: 900%;
          height: 300%;
          background-color: #f57b017c;
          z-index: -1;
        }
      }

      > :last-child {
        display: flex;
        flex-direction: column;
      }

      .faq-question-lt {
        border-bottom: 2px solid $red-stage-600;

        // this container wrap all question and expand/collapse icon
        .first-container {
          display: flex;
          justify-content: space-between;
          align-items: center;
          font-family: $roboto-italic;
          height: 4em;
          text-shadow: 1px 1px 1px #00000058;

          > :first-child {
            cursor: url('/src/assets/images/cloud-hover.png'), auto;

            &:hover {
              color: $red-stage-600;
              transition: all 300ms;
              cursor: url('/src/assets/images/cloud-hover.png'), auto;
              text-shadow: 1px 1px 1px #1313137f;
            }
          }
          span {
            font-size: 1.4em;
          }
        }

        .faq-answer-lt {
          display: none;
        }

        .expand-content {
          border-left: 2px solid $red-stage-700;
          position: absolute;
          background-color: #f6e4e4;
          padding: 0.5em;
          border-radius: 0 0.4em 0.4em 0;
          transform: translate(-2em, -1em);
          scale: 0.9;
          width: 45vw;
          z-index: 100;

          > :first-child {
            margin-left: 1em;
            color: #3a3a3a6c;
            font-size: 0.85em;
          }

          > :last-child {
            margin-left: 1em;
            color: #3a3a3a86;
            font-size: 0.85em;
            padding: 1em 0;
          }

          img {
            scale: 0.7;
            right: 4em;
            position: relative;
            border: 1px solid #ffffff62;
            border-radius: 0.4em;
          }
          .source-link {
            text-wrap: balance;
            color: $red-stage-700;
            font-weight: 900;
            cursor: url('/src/assets/images/cloud-hover.png'), auto;
          }

          .answer-4 {
            > :nth-child(2) {
              margin-top: 1em;
              margin-left: 2em;
              list-style: square;
              display: flex;
              flex-direction: column;
            }
          }
        }
      }
    }

    // README section
    .readme-section-container-lt {
      grid-column: 5 / span 4;
      grid-row: 1 / span 4;
      margin: 0.5em 1em;
      text-align: center;
      background-color: $valencia-300;
      border-radius: 0.5em;
      box-shadow: 5px 5px 5px #1313136e;
      overflow: hidden;
      text-shadow: 1px 1px 1px #00000058;

      h1 {
        position: relative;
        top: 0.5em;
        font-size: 1.5em;
        @extend %h1_footers;
        z-index: 50;

        &::after {
          content: '';
          position: absolute;
          display: block;
          right: -13em;
          bottom: -0.5em;
          width: 900%;
          height: 200%;
          background-color: #f57b017c;
          z-index: -1;
        }
      }
      swiper-container::part(bullet-active) {
        background-color: $red-stage-200;
      }

      .swiper-pagination {
        position: relative;
        top: 6em;
        height: 50%;
      }

      .readme-btn {
        display: flex;
        justify-content: center;
        gap: 0.5em;
        margin: 0 12em;
        scale: 0.6;
        padding: 0.8em 1em 0.5em 1em;
        border-radius: 0.5em;
        font-family: $josefin;
        background-color: $red-stage-400;
        border: 2px solid $red-stage-200;
        cursor: url('/src/assets/images/cloud-hover.png'), auto;
        position: relative;
        top: 1em;
        text-shadow: none;

        &:hover {
          transition: all 300ms;
          color: $red-stage-800;
          background: $red-stage-300;
          border: 2px solid $red-stage-800;
        }
      }
    }

    // ASIDE section
    .footer-aside-container-lt {
      grid-column: 5 / span 4;
      grid-row: 5 / 8;
      @extend %flex-col-center;
      justify-content: space-between;
      margin: 0.5em 1em;

      .title-aside-lt {
        margin-top: 1em;
        @extend %flex-row-center;
        gap: 1em;

        h1 {
          font-size: 1.7em;
          @extend %h1_footers;
          color: $light;
        }
        img {
          scale: 1.2;
        }
      }

      .footer-list-lt {
        display: flex;
        justify-content: space-evenly;
        width: 40%;
        margin: auto;
        position: relative;

        .list-item-lt {
          font-size: 1.2em;
          cursor: url('/src/assets/images/cloud-hover.png'), auto;
          transition: all 500ms;
        }

        .linkedin:hover {
          transition: all 200ms;
          color: #3c63ff;
        }
        .github:hover {
          transition: all 200ms;
          color: #000000;
        }
        .email:hover {
          transition: all 200ms;
          color: #ff5757;
        }

        &::after {
          content: '';
          position: absolute;
          width: 65%;
          height: 2px;
          background-color: $red-stage-100;
          left: -8em;
          top: 0.5em;
        }
        &::before {
          content: '';
          position: absolute;
          width: 65%;
          height: 2px;
          background-color: $red-stage-100;
          right: -8em;
          top: 0.5em;
        }
      }
    }

    .developed-lt {
      p {
        font-family: $josefin;
        min-width: max-content;
        text-shadow: 1px 1px 1px #00000058;
        padding-bottom: 0.5em;
      }
    }
  }
  .up-arrow-lt {
    position: fixed;
    bottom: 0.5em;
    right: 0.7em;
    font-size: 1.3em;
    color: $valencia-500;
    cursor: url('/src/assets/images/cloud-hover.png'), auto;
    animation: up-arrow 700ms ease-in-out alternate-reverse infinite;
    transition: all 1s;

    &:hover {
      color: $red-stage-800;
      scale: 1.7;
      bottom: 0.7em;
      transition: all 400ms;
      animation: none;
    }
  }

  //////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////
  //////////////////////////////////////////////////////      CONTACT ROUTE    ///////////////////////////////////////////////////////////////////////////////////////////////////////////
  ////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////

  .contact-main-lt {
    height: 150vh;
    @extend %flex-col-center;
    justify-content: space-around;
    background: linear-gradient(to left, $red-stage-300, $red-stage-800, transparent);

    .subtitle-container-lt {
      color: $light;
      @extend %flex-col-center;
      padding: 0 2em;
      margin-top: 4em;

      h1 {
        font-size: 1.7em;
        position: relative;
        z-index: 20;
        color: $red-stage-500;

        &::after {
          content: '';
          display: block;
          position: absolute;
          left: -1em;
          bottom: -0.7em;
          background-color: $red-stage-500;
          background-color: $light;
          height: 2.8em;
          width: 105%;
          border-radius: 0.5em;
          z-index: -1;
        }
      }
      p {
        margin-top: 1.8em;
        font-size: 1.1em;
        font-family: $roboto;
        position: relative;
        text-shadow: 1px 1px 1px #00000078;

        &::after {
          content: '';
          display: block;
          position: absolute;
          left: 10%;
          bottom: -2em;
          width: 80%;
          border-bottom: 2px solid $red-stage-400;
        }
      }
    }

    .contact-section-lt {
      display: flex;
      overflow: hidden;
      z-index: 60;
      margin-top: 3em;

      // form section container
      .form-container-lt {
        @extend %flex-col-center;
        align-items: flex-start;
        gap: 2em;
        padding: 4em 4em 3em 4em;
        background: $light;
        caret-color: $red-stage-400;
        border-radius: 0.5em 0 0 0.5em;
        border: 2px solid $red-stage-200;
        border-right: none;
        z-index: 10;
        color: $dark;
        font-family: $josefin;
        transition-property: background-color;
        transition-duration: 2s;

        .input-name-lt {
          background-color: inherit;
          border-bottom: 2px solid $red-stage-400;
          outline: none;
          padding: 0.2em 0.2em;
          text-transform: capitalize;

          &::placeholder {
            text-transform: lowercase;
            padding: 0.5em;
            opacity: 0.7;
            color: $red-stage-400;
          }
          &:focus {
            border-bottom: 2px solid $red-stage-200;
            background: linear-gradient(to top, $red-stage-300, $light);
            transition: all 400ms;
          }
        }
        .input-email-lt {
          background-color: inherit;
          border-bottom: 2px solid $red-stage-400;
          outline: none;
          padding: 0.2em 0.2em;

          &::placeholder {
            padding: 0.5em;
            opacity: 0.7;
            color: $red-stage-400;
          }
          &:focus {
            border-bottom: 2px solid $red-stage-200;
            background: linear-gradient(to top, $red-stage-300, $light);
            transition: all 400ms;
          }
        }
        .text-area-lt {
          resize: none;
          background-color: inherit;
          border-bottom: 2px solid $red-stage-400;
          height: 6em;
          width: 18em;
          outline: none;
          padding: 0.3em 0 0.3em 0.7em;

          &::placeholder {
            position: absolute;
            bottom: 0.5em;
            opacity: 0.7;
            color: $red-stage-400;
          }
          &:focus {
            border-bottom: 2px solid $light;
            background: linear-gradient(to top, $red-stage-300, $light);
            border-radius: 0.3em;
            transition: all 400ms;
          }
        }
        .send-btn-lt {
          background-color: $red-stage-500;
          border: 1px solid $red-stage-700;
          border-radius: 3em;
          padding: 0.5em;
          width: 100%;
          position: relative;
          bottom: 1em;
          color: $light;
        }
      }

      //aside card form
      .aside-form-lt {
        background-color: #33beff;
        padding: 3em 5em;
        border-radius: 0 0.5em 0.5em 0;
        color: $light;
        text-shadow: 1px 2px 1px #13131356;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        overflow: hidden;
        border: 2px solid $red-stage-200;
        border-left: none;
        font-family: $roboto;
        transition-property: background-color;
        transition-duration: 2s;

        .bg-form-lt {
          position: absolute;

          > :first-child {
            transform: translate(-1em, 6em);

            > :first-child {
              scale: 3;
              box-shadow: 0px 0px 1px #fcff333b;
              background: radial-gradient(circle, #fcff33e5, #fcff3317, transparent);
              border-radius: 50%;
              animation:
                sunShining 5s linear alternate-reverse infinite,
                SunRise 500ms linear forwards;
            }
            > :last-child {
              transform: translate(8em, 4em);
              rotate: -70deg;
            }
          }
          > :last-child {
            scale: 6;
            display: flex;
            position: absolute;
            justify-content: space-between;
            transform: translate(-1.2em, -1.1em);
            > :last-child {
              transform: translate(1.4em, 0.2em);
            }
          }
        }

        > :nth-child(2) {
          @extend %flex-col-center;
          gap: 1em;

          .avatar-image-lt {
            height: 4em;
            width: 4em;
            object-fit: cover;
            scale: 2;
            border-radius: 50%;
            border: 2px solid $red-stage-400;
            padding: 0.06em;
          }

          h1 {
            bottom: 1em;
            font-size: 1.4em;
            position: relative;
          }
        }
        > :last-child {
          text-align: center;
          position: relative;
          z-index: 10;
          transform: translateY(-2.5em);

          &::after {
            content: '';
            display: block;
            position: absolute;
            left: 0;
            top: -1em;
            background-color: $red-stage-400;
            height: 0.2em;
            width: 100%;
          }

          &::before {
            content: '';
            display: block;
            position: absolute;
            left: 0;
            bottom: -7em;
            height: 5em;
            width: 100%;
            scale: 1.7;
            transform: scaleX(1.5);
            background: url('../assets/svg/hills-day.svg') no-repeat center center;
            background-size: cover;
            z-index: -1;
          }
        }
      }
    }

    .developed-lt {
      p {
        color: $light;
        min-width: max-content;
        text-shadow: 1px 1px 1px #00000078;
      }
    }
  }

  //////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////
  //////////////////////////////////////////////////////      README ROUTE    ///////////////////////////////////////////////////////////////////////////////////////////////////////////
  ////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////
  .readme-main-lt {
    color: $dark;
    padding: 2em 6em 1em 6em;
    display: flex;
    flex-direction: column;
    background: linear-gradient(to left, $red-stage-300, $red-stage-800, transparent);
    gap: 1em;
    font-family: $roboto;

    .wraper {
      padding: 2em 6em 1em 6em;
      background-color: #efefef;
      border-radius: 0.3em;
      overflow: hidden;

      > h1 {
        font-size: 1.7em;
        text-align: center;
        font-weight: bolder;
      }
      > p {
        padding: 2em 0;
        font-size: 1.2em;
        color: #686868;
        font-family: $roboto-italic;
      }

      .index-content-container-lt {
        border: 1px solid #00000025;
        padding: 1em;
        z-index: 10;

        p {
          font-weight: bolder;
          font-size: 1.2em;
          width: max-content;
          padding-bottom: 0.2em;
          border-bottom: 2px solid #3c59fe85;
        }
        ul {
          margin: 1em 0 0 2em;

          li {
            list-style: disc;
            margin-top: 0.5em;
            font-size: 0.9em;
            font-weight: lighter;

            a {
              cursor: url('/src/assets/images/cloud-hover.png'), auto !important;
              transition: all 300ms;

              &:hover {
                font-weight: bolder;
                color: #3c59fe;
                transition: all 300ms;
                font-weight: 900 !important;
              }
            }
          }
        }
      }

      #overview-container-lt {
        border: 1px solid #00000025;
        border-top: none;
        padding: 1em;

        h2 {
          font-weight: bolder;
          font-size: 1.2em;
          border-bottom: 2px solid #3c59fe85;
          width: max-content;
          padding-bottom: 0.2em;
        }

        > :nth-child(2) {
          margin-top: 1em;
          border-bottom: 4px solid #3c59fe85;

          h1 {
            font-size: 2.5em;
            text-align: center;
            font-weight: bolder;
            color: #3c59fe;
          }
          p {
            font-family: $josefin;
            margin: 1em 0;
          }
        }

        > :nth-child(3) {
          margin-top: 1em;
          padding: 2em 1em;
          background-color: $light;
          border-radius: 0.5em;
          border: 1px solid #00000025;

          p {
            font-weight: bolder;
            font-size: 1.2em;
            width: max-content;
          }
          ul {
            margin: 1em 0 0 2em;

            li {
              list-style: disc;
              margin-top: 1em;
              font-size: 0.9em;
              font-weight: lighter;
              text-wrap: pretty;

              .link {
                color: #3c59fe;
                transition: all 300ms;

                &:hover {
                  cursor: url('/src/assets/images/cloud-hover.png'), auto;
                  font-weight: 900;
                  transition: all 300ms;
                }
              }
            }
          }
        }

        > :nth-child(4) {
          @extend %flex-col-center;
          padding-top: 2em;

          p {
            width: 100%;
            font-size: 1.15em;
            padding: 1em;
            text-align: center;
            background-color: #3c59fed2;
            color: $light;
            border-radius: 0.3em 0.3em 0 0;
            border: 1px solid #ffffff28;
            border-bottom: none;
          }
          video {
            flex-grow: 3;
            border-radius: 0 0 0.5em 0.5em;
          }
        }
        > :nth-child(5) {
          @extend %flex-col-center;
          padding-top: 2em;

          p {
            width: 100%;
            font-size: 1.15em;
            padding: 1em;
            text-align: center;
            background-color: #3c59fed2;
            color: $light;
            border-radius: 0.3em 0.3em 0 0;
            border: 1px solid #ffffff28;
            border-bottom: none;
          }
          video {
            flex-grow: 3;
            border-radius: 0 0 0.5em 0.5em;
          }
        }
        > :last-child {
          border-top: 4px solid #3c59fe85;
          padding-top: 1em;
          margin-top: 2em;
          color: #333333c5;
          font-weight: bolder;
          text-align: center;
          font-size: 1.3em;
          text-wrap: pretty;
        }
      }

      #design-container-lt {
        border: 1px solid #00000025;
        border-top: none;
        padding: 1em;

        h2 {
          font-weight: bolder;
          font-size: 1.2em;
          width: max-content;
          padding-bottom: 0.2em;
          border-bottom: 3px solid #00000025;
        }

        .structure-container-lt {
          margin: 1em 0;
          border: 1px solid #00000025;
          border-radius: 0.5em;
          width: max-content;
          padding: 2em 6em 2em 3em;
          font-size: 0.7em;
          background-color: $light;
          font-family: $roboto-mono;
        }
        span {
          font-family: $roboto;
          color: #549c5a;
          margin-left: 1em;
        }
      }

      #usage-container-lt {
        border: 1px solid #00000025;
        padding: 1em;
        display: flex;
        flex-direction: column;

        h2 {
          font-weight: bolder;
          font-size: 1.2em;
          border-bottom: 2px solid #3c59fe85;
          width: max-content;
          padding-bottom: 0.2em;
        }

        .usage-lt {
          display: flex;
          flex-direction: column;
          justify-content: center;
          align-items: center;

          > :first-child,
          > :nth-child(2),
          > :nth-child(3) {
            @extend %flex-col-center;
            border-radius: 0;
            border-bottom: 2px solid #0000001e;
            padding: 0 1em 1em 1em;

            > :first-child {
              @include dark-theme.overViewElement($valencia-200);
              box-shadow: 5px 5px 7px #13131336;
              text-shadow: 2px 2px 1px #1313135d;
              color: $light;
              font-family: $josefin;
              height: 13em;
              margin-top: 1.1em;
              width: 23em;

              .history-img-reference {
                scale: 1.2;
              }

              > :first-child {
                position: absolute;
                top: 1em;
                z-index: 50;

                &::after {
                  content: '';
                  position: absolute;
                  display: block;
                  right: -13em;
                  bottom: -1em;
                  width: 3000%;
                  height: 250%;
                  background-color: #f57b017c;
                  z-index: -1;
                }
              }

              > :nth-child(2) {
                text-wrap: balance;
                text-align: center;
                transform: translateY(1.5em);
              }
              > :last-child {
                padding: 0 3em;
              }

              img {
                height: 2em;
                transform: translateY(1.5em);
              }
            }

            > p {
              color: #686868;
              line-height: 1.1em;
            }
          }
        }

        > :last-child {
          display: flex;
          flex-direction: column;
          margin-top: 2em;

          h1 {
            background-color: $valencia-200;
            color: $light;
            box-shadow: 5px 5px 7px #13131336;
            text-shadow: 2px 2px 1px #1313135d;
            width: max-content;
            margin: 0 auto;
            padding: 1.2em 2.5em;
            border-radius: 0.3em;
            font-size: 1.2em;
          }

          > :last-child {
            display: flex;
            justify-content: center;
            align-items: center;
            padding: 2em;

            img {
              object-fit: cover;
              height: 20em;
              width: 4em;
              transition: all 1s;
              border-radius: 0.5em;
              margin: 0 0.2em;

              &:hover {
                @extend %flex-row-center;
                width: 100%;
                transition: all 600ms;
                border: 3px solid $valencia-200;
              }
            }
            > :first-child:hover {
              margin-left: 50%;
            }
            > :last-child:hover {
              margin-right: 50%;
            }
          }
        }
      }

      #technologies-container-lt {
        border-top: none;
        padding: 1em;
        display: flex;
        flex-direction: column;
        gap: 1em;
        border: 1px solid #00000025;
        border-top: none;

        > :first-child {
          h2 {
            font-weight: bolder;
            font-size: 1.2em;
            border-bottom: 2px solid #3c59fe85;
            width: max-content;
            padding-bottom: 0.2em;
          }
          p {
            font-family: $roboto-italic;
            margin-top: 0.5em;
          }
        }

        ul {
          margin: 0.5em 0;
          border: 1px solid #00000025;
          background-color: $light;
          border-radius: 0.3em;
          display: flex;
          flex-direction: column;
          justify-content: center;
          align-items: center;
          gap: 2em;
          width: max-content;
          align-self: center;

          li {
            border-top: 1px solid #00000025;
            padding: 0.5em 1em;
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;

            span {
              font-size: 1.2em;
              color: #3c59fe;
              font-weight: bolder;
            }

            > :nth-child(2) {
              font-size: 0.85em;
              font-family: $roboto-italic;
            }
            &:first-child {
              border-top: none;
              padding-top: 1em;
            }
            &:last-child {
              padding-bottom: 2em;
            }
          }
        }
      }

      #instalation-container-lt {
        border: 1px solid #00000025;
        border-top: none;
        padding: 1em;
        font-family: $josefin;

        > h2 {
          font-weight: bolder;
          font-size: 1.2em;
          border-bottom: 2px solid #3c59fe85;
          width: max-content;
          padding-bottom: 0.2em;
        }

        > h3 {
          margin-top: 0.5em;
        }
        .container-lt {
          margin-top: 2em;

          > :first-child {
            .git-clone-lt {
              margin: 0.5em 0;
              display: flex;
              gap: 1em;
              background-color: $light;
              border: 1px solid #00000025;
              border-radius: 0.4em;
              width: max-content;
              padding: 1.5em 1em;
              font-size: 0.8em;

              > :nth-child(2) {
                button {
                  cursor: url('/src/assets/images/cloud-hover.png'), auto;
                }
              }
              > p {
                font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
              }
            }
          }

          > :nth-child(2) {
            margin-top: 2em;
            > :last-child {
              margin: 0.5em 0;
              display: flex;
              background-color: $light;
              border: 1px solid #00000025;
              border-radius: 0.4em;
              width: max-content;
              padding: 1.5em 1em;
              font-size: 0.8em;
            }
          }
          > :nth-child(3) {
            margin-top: 2em;
            > :last-child {
              margin: 0.5em 0;
              display: flex;
              background-color: $light;
              border: 1px solid #00000025;
              border-radius: 0.4em;
              width: max-content;
              padding: 1.5em 1em;
              font-size: 0.8em;
            }
          }

          > :last-child {
            margin-top: 2em;
            > :last-child {
              margin: 0.5em 0;
              display: flex;
              background-color: $light;
              border: 1px solid #00000025;
              border-radius: 0.4em;
              width: max-content;
              padding: 1.5em 1em;
              font-size: 0.8em;
            }
          }
        }
      }

      #features-container-lt {
        border: 1px solid #00000025;
        border-top: none;
        padding: 1em;

        > h2 {
          font-weight: bolder;
          font-size: 1.2em;
          border-bottom: 2px solid #3c59fe85;
          width: max-content;
          padding-bottom: 0.2em;
        }

        .container-lt {
          display: flex;
          flex-direction: column;
          gap: 3em;

          > :first-child {
            @extend %flex-col-center;
            width: max-content;
            margin: 0 auto;
            font-family: $roboto-italic;
            padding: 2em;
            border: 1px solid #ffffff28;
            background-color: $valencia-200;
            box-shadow: 5px 5px 7px #13131336;
            text-shadow: 2px 2px 1px #1313135d;
            border-radius: 0.5em;
            color: $light;

            h1 {
              scale: 2;
              padding-bottom: 1em;
            }

            > :nth-child(2) {
              @extend %flex-col-center;

              p {
                width: max-content;
                padding-bottom: 0.3em;
                border-bottom: 3px solid $light;
              }
              ul {
                margin-top: 1em;
                li {
                  list-style: disc;
                  margin-top: 1em;
                  font-size: 0.9em;
                }
              }
            }
          }
          .second-container-lt {
            display: flex;
            flex-direction: column;
            gap: 3em;

            h2 {
              text-align: center;
              font-size: 1.4em;
            }

            ul {
              font-family: $roboto-italic;
              padding: 1em;
              display: flex;
              flex-direction: column;
              gap: 1.5em;
              list-style: disc;

              span {
                font-size: 1.1em;
                font-weight: bolder;
              }
            }
          }
        }
      }

      #contact-container-lt {
        border: 1px solid #00000025;
        border-top: none;
        padding: 1em;
        display: flex;
        flex-direction: column;
        gap: 1em;

        h2 {
          font-weight: bolder;
          font-size: 1.2em;
          width: max-content;
          padding-bottom: 0.2em;
          border-bottom: 2px solid #3c59fe85;
        }

        > :nth-child(2) {
          display: flex;
          justify-content: space-around;
          align-items: center;
          flex-wrap: wrap;

          > :first-child {
            display: flex;
            flex-direction: column;
            align-items: center;
            gap: 0.5em;
            flex-grow: 2;

            p {
              font-size: 0.9em;
              text-align: center;

              strong {
                font-size: 1.4em;
                margin-left: 0.2em;
              }
            }
            img {
              border-radius: 50%;
              padding: 0.05em;
              height: 12em;
              width: 12em;
              object-fit: cover;
              border: 3px solid #3c59fe85;
            }
          }
        }

        .second-container-lt {
          width: 60%;
          @extend %flex-col-center;
          border: 1px solid #00000025;
          background-color: $light;
          border-radius: 0.3em;
          padding: 2em;
          overflow: hidden;

          p {
            text-align: center;
            font-family: $roboto-italic;
            color: $light;
            top: -1em;
            position: relative;
            z-index: 10;

            &::before {
              content: '';
              position: absolute;
              width: 200%;
              height: 100%;
              padding: 3em 0;
              left: -5em;
              bottom: -1em;
              background-color: #3c59fed1;
              z-index: -1;
            }
          }

          ul {
            display: flex;
            flex-direction: column;
            justify-content: space-around;
            height: 10em;
            margin-top: 1em;

            > li {
              list-style: disc;
              margin-left: 0.5em;

              a {
                font-family: $roboto-italic;
                font-size: 0.8em;
                text-decoration: underline;
                cursor: url('/src/assets/images/cloud-hover.png'), auto;

                &:hover {
                  color: #0000003b;
                  transition: all 300ms;
                }
              }
            }
          }
        }
      }
    }
  }
}
