@tailwind base;
@tailwind components;
@tailwind utilities;

.big-drop {
  &::after {
    content: '';
    position: absolute;
    clip-path: polygon(50% 0%, 100% 78.75%, 50% 100%, 2.27% 79.16%);
    background-color: inherit;
    transform: translate(0.05em, -0.35em);
    height: 0.6em;
    width: 0.4em;
    left: 0;
    top: 0;
  }
}

.small-drop {
  &::after {
    content: '';
    position: absolute;
    clip-path: polygon(50% 0%, 100% 78.75%, 50% 100%, 2.27% 79.16%);
    background-color: inherit;
    transform: translate(0.06em, -0.3em);
    height: 0.5em;
    width: 0.2em;
    left: 0;
    top: 0;
  }
}

.stars {
  &::after {
    content: '';
    position: absolute;
    background-color: inherit;
    height: 6px;
    width: .5px;
    left: 3px;
    bottom: -3px;
  }
}

///////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////
///////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////
///////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////

@keyframes raining {
  0% {
    transform: translate(0em, 0em) rotate(10deg);
  }
  85% {
    transform: translate(-3em, 23.5em) rotate(5deg);
  }
  100% {
    transform: translate(-4em, 23.5em) rotate(0deg) scaleX(3) scaleY(0);
    opacity: 0.6;
  }
}

@keyframes MoonRise {
  0% {
    transform: translateY(15em);
  }
  80% {
    transform: translateY(-1em);
  }
  100% {
    transform: translateY(2em);
  }
}

@keyframes SunRise {
  to {
    rotate: 90deg;
    transform: translate(-2em, 0em);
    scale: 3;
  }
}

@keyframes sunShining {
  to {
    box-shadow: 0px 0px 52px #fcff339b;
  }
}
@keyframes rayShining {
  to {
    opacity: 0.2;
  }
}

@keyframes stars {
  to {
    filter: blur(1px);
    scale: 1.5;
    box-shadow: inset 0 0 10px #f5f5cf, 0 0 10px #f5f5cf , 0 0 10px #f5f5cf, 0 0 10px #f5f5cf, 0 0 10px #f5f5cf;
    opacity: 1;
  }
}