@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed:ital@1&family=Roboto+Mono&display=swap');

:root {
  --roboto-italic: 'Roboto Condensed', sans-serif;
  --roboto-mono: 'Roboto Mono', monospace;
  --bg-dark-theme: #242424;
  --bg-light-theme: #e4e4e4;
}

html,
body {
  margin: 0;
  box-sizing: border-box;
  line-height: 1.5;
  min-height: 100dvh;

  .header-container-dt {
    background-color: var(--bg-dark-theme);
    display: grid;
    padding: 1em;
    grid-template-columns: repeat(5, 1fr);

    .header-resourse-dt {
      display: flex;
      flex-direction: column;
      margin-left: 2em;

      > :first-child {
        color: var(--bg-light-theme);
        font-family: var(--roboto-mono);
        font-weight: bold;
      }

      .header-url-dt {
        background-color: var(--bg-light-theme);
        display: flex;
        align-items: center;
        justify-content: space-around;
        padding: 0.5em;
        border-radius: 0.4em;
        width: 20dvw;
        height: 2.5em;
        font-family: var(--roboto-italic);

        > :last-child {
          border: none;
          background-color: inherit;
          cursor: pointer;
        }
      }
    }

    > :nth-child(2) {
      color: var(--bg-light-theme);
      text-align: center;
      font-size: 3em;
      min-width: max-content;
      grid-column: 2 / 5;
      font-family: var(--roboto-mono);
    }

    /* button toggle theme and language styles section */
    .header-btn-container-dt {
      display: flex;
      justify-content: center;
      align-items: center;
      grid-column: 5;

      .header-btn-dt {
        color: #d8f33f;
        background-color: #516677;
        font-size: 1em;
        border-radius: 50%;
        border: none;
        height: 1.7em;
        line-height: 1.1em;
      }

      .languageBtn {
        background-color: inherit;
        border: none;
        scale: 0.6;
      }
    }
  }

  /* main "Dark Theme" section */
  .main-weather-container-dt {
    font-weight: 400;
    font-family: var(--roboto-mono);
    background-color: var(--bg-dark-theme);
    color: var(--bg-light-theme);
    min-height: 100dvh;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, minmax(min-content, max-content));
    grid-template-areas:
      'card-info card-info form'
      'card-info card-info aside'
      'card-info card-info aside'
      'card-info card-info aside';

    /* main feature app : find the current weather depends on text input value */
    .main-weather-form-dt {
      display: flex;
      width: max-content;
      margin: 1em auto;
      grid-area: form;

      .weather-input-dt {
        padding: 0 0 0 1em;
        width: 11em;
        text-transform: capitalize;
        outline: none;
        border: none;
        border-radius: 0.6em 0 0 0.6em;
        font-size: 1.2em;
        font-family: var(--roboto-mono);
        font-weight: bolder;
        color: #424d57;

        &:focus {
          background-color: #d8d5d5;
        }

        &::placeholder {
          opacity: 0.6;
          font-size: 0.8em;
          font-weight: lighter !important;
        }
      }

      .weather-serchBtn-dt {
        padding: 0.5em;
        border: none;
        cursor: pointer;
        border-radius: 0 0.6em 0.6em 0;
        font-size: 1.4em;
        outline: none;

        &:focus {
          background-color: #516677;
        }
        &:hover {
          background-color: #516677;
          transition: all 300ms;
        }
      }
    }

    .weather-container {
      grid-area: card-info;

      .weather-main-data {
        position: relative;
        width: 60dvw;
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: repeat(4, 1fr);
        text-shadow: 2px 2px 2px black;

        /* this styles are used to render the background img */
        .backgroundImg-container {
          position: absolute;
          height: 100%;
          width: 100%;

          .backgroundImg {
            height: 100%;
            width: 100%;
            opacity: 0.9;
          }
        }

        .grid-item-2 {
          margin: .5em 0 0 0.5em;
          position: relative;
          display: flex;
          justify-content: center;
          align-items: center;
          gap: 2em;
          height: fit-content;
          border: 4px solid #e4e4e425;
          background: linear-gradient(to right, #2424245b, #2424245b);
          border-radius: 0.4em;
          
        }
        .grid-item-3 {
          place-self: center;
          position: relative;
          display: flex;
          align-items: center;
          justify-content: center;
          gap: 0.4em;
          border: 4px solid #e4e4e425;
          background: linear-gradient(to right, #2424245b, #2424245b);
          border-radius: 0.4em;
          height: fit-content;
          width: 14em;
        }

        .grid-item-4 {
          position: relative;
          grid-row: 2/6;
          display: grid;
          grid-template-columns: repeat(3, 1fr);
          grid-template-rows: repeat(2, 1fr);
          place-items: center;
          margin: 0 0 1em 0.5em;
          border: 4px solid #e4e4e425;
          background: linear-gradient(to right, #2424245b, #2424245b);
          border-radius: 0.4em;

          > :first-child {
            grid-column: 1;
            scale: 1.9;
            filter: brightness(1.3);
          }
          > :nth-child(2) {
            grid-column: 2/3;
            margin-left: 2em;
            font-size: 1.2em;
            position: relative;
            left: 3em;
            text-align: center;
          }

          > :last-child {
            grid-column: 2;
            grid-row: 2;
            letter-spacing: 1px;
            text-transform: capitalize;
            font-size: 1.3em;
            min-width: max-content;
          }
        }

        .grid-item-5 {
          position: relative;
          grid-column: 2;
          grid-row: 3;
          text-align: center;
          margin: 0 0 1em 0.5em;
          border: 4px solid #e4e4e425;
          background: linear-gradient(to right, #2424245b, #2424245b);
          border-radius: 0.4em;
          margin-right: 0.5em;
        }
      }

      /* main container aditional weather data */
      .weather-aditional-data {
        width: 60dvw;
        display: flex;
        flex-direction: column;
        border-right: 2px solid white;
        border-bottom: 2px solid white;
        background-color: #474747;

        .aditional-data-keys {
          display: grid;
          grid-template-columns: repeat(6, 1fr);
          margin-left: 2em;
        }

        .aditional-data-values {
          display: grid;
          grid-template-columns: repeat(6, 1fr);
          margin-left: 2em;
        }
      }
    }
  }
}
