@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed:ital@1&family=Roboto+Mono&display=swap');

:root {
  --roboto-italic: 'Roboto Condensed', sans-serif;
  --roboto-mono: 'Roboto Mono', monospace;
  --bg-dark-theme: #242424;
  --bg-light-theme: #e4e4e4;
}

html,
body {
  margin: 0;
  box-sizing: border-box;
  line-height: 1.5;
  min-height: 100dvh;

  .header-container-dt {
    background-color: var(--bg-dark-theme);
    display: grid;
    padding: 1em;
    grid-template-columns: repeat(5, 1fr);

    .header-resourse-dt {
      display: flex;
      flex-direction: column;
      margin-left: 2em;

      > :first-child {
        color: var(--bg-light-theme);
        font-family: var(--roboto-mono);
        font-weight: bold;
      }

      .header-url-dt {
        background-color: var(--bg-light-theme);
        display: flex;
        align-items: center;
        justify-content: space-around;
        padding: 0.5em;
        border-radius: 0.4em;
        width: 20dvw;
        height: 2.5em;
        font-family: var(--roboto-italic);

        > :last-child {
          border: none;
          background-color: inherit;
          cursor: pointer;
        }
      }
    }

    > :nth-child(2) {
      color: var(--bg-light-theme);
      text-align: center;
      font-size: 3em;
      min-width: max-content;
      grid-column: 2 / 5;
      font-family: var(--roboto-mono);
    }

    /* button toggle theme and language styles section */
    .header-btn-container-dt {
      display: flex;
      justify-content: center;
      align-items: center;
      grid-column: 5;

      .header-btn-dt {
        color: #d8f33f;
        background-color: #516677;
        font-size: 1em;
        border-radius: 50%;
        border: none;
        height: 1.7em;
        line-height: 1.1em;
      }

      .languageBtn {
        background-color: inherit;
        border: none;
        scale: 0.6;
      }
    }
  }

  /* main "Dark Theme" section */
  .main-weather-container-dt {
    font-weight: 400;
    font-family: var(--roboto-mono);
    background-color: var(--bg-dark-theme);
    color: var(--bg-light-theme);
    min-height: 100dvh;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, minmax(min-content, max-content));
    grid-template-areas:
      'card-info card-info form'
      'card-info card-info aside'
      'card-info card-info aside';

    /* main feature app : find the current weather depends on text input value */
    .main-weather-form-dt {
      display: flex;
      width: max-content;
      margin: 1em auto;
      grid-area: form;

      .weather-input-dt {
        padding: 0 0 0 2em;
        width: 15em;
        text-transform: capitalize;
        outline: none;
        border: none;
        border-radius: 0.6em 0 0 0.6em;
        font-size: 1.2em;
        font-family: var(--roboto-mono);
        font-weight: bolder;
        color: #424d57;

        &:focus {
          background-color: #d8d5d5;
        }

        &::placeholder {
          opacity: 0.6;
          letter-spacing: 1px;
          font-weight: lighter !important;
        }
      }

      .weather-serchBtn-dt {
        padding: 1em;
        border: none;
        cursor: pointer;
        border-radius: 0 0.6em 0.6em 0;
        font-size: 1.4em;
        outline: none;

        &:focus {
          background-color: #516677;
        }
        &:hover {
          background-color: #516677;
          transition: all 300ms;
        }
      }
    }

    .weather-container {
      grid-area: card-info;

      .weather-data-section {
        position: relative;
        width: 60dvw;

        /* this styles are used to render the background img */
        .backgroundImg-container {
          position: absolute;
          height: 100%;
          width: 100%;

          .backgroundImg {
            height: 100%;
            width: 100%;
            border-radius: 0.6em;
            object-fit: cover;
            opacity: 0;
          }
        }

        .weather-data-location {
          position: relative;
          display: flex;
          justify-content: start;
          align-items: center;
          gap: 0.2em;

          :first-child {
            color: #ff2525;
            font-size: 1.3em;
          }

          :nth-child(2) {
            font-family: var(--roboto-italic);
            letter-spacing: 0.1em;
          }

          :nth-child(3) {
            position: relative;
            top: 0.2em;
          }
        }

        /* main container current forecast data */
        .weather-data-current {
          position: relative;
          display: grid;
          grid-template-columns: repeat(3, 1fr);
          grid-auto-rows: minmax(5em, 1fr);
          padding-right: 1em;

          > :first-child {
            grid-column: 1 / span 2;
            grid-row: 1;
            margin-left: 1em;
          }

          > :nth-child(2) {
            width: max-content;
            position: relative;
            left: 4em;
          }

          .data-current-main {
            grid-column: 1 / span 2;
            grid-row: 1 / span 3;
            display: flex;
            justify-content: space-evenly;
            flex-wrap: wrap;
            align-content: center;

            :last-child {
              position: relative;
              right: 3em;
              font-weight: bolder;
              scale: 2;
            }
          }

          :nth-child(4) {
            margin-top: -1em;
            text-align: center;
          }

          :nth-child(5) {
            font-weight: bolder;
            font-size: 1.7em;
            text-align: center;
            grid-row: 2;
          }
          :nth-child(6) {
            text-transform: capitalize;
            grid-column: 1 / 3;
            text-align: center;
            grid-row: 3;
            font-size: 1.4em;
          }
          .weather-data-btn {
            max-width: fit-content;
            max-height: 2em;
            grid-column: 3;
            grid-row: 3;
          }
        }
      }
    }

    /* main container aditional forecast data */
    .weather-aditional-data {
      width: 60dvw;
      display: flex;
      flex-direction: column;
      border-right: 2px solid white;
      border-bottom: 2px solid white;
      background-color: #474747;

      .aditional-data-keys {
        display: grid;
        grid-template-columns: repeat(6, 1fr);
        margin-left: 2em;
      }

      .aditional-data-values {
        display: grid;
        grid-template-columns: repeat(6, 1fr);
        margin-left: 2em;
      }
    }
  }
}
