@import url('https://fonts.googleapis.com/css2?family=Oswald&family=Roboto&family=Roboto+Condensed&family=Roboto+Mono&display=swap');

:root {
  --roboto-italic: 'Roboto Condensed', sans-serif;
  --roboto-mono: 'Roboto Mono', monospace;
  --roboto: 'Roboto', sans-serif;
  --oswald: 'Oswald', sans-serif;
  --bg-dark-theme: #242424;
  --bg-light-theme: #e4e4e4;
}

html,
body {
  margin: 0;
  box-sizing: border-box;
  line-height: 1.5;
  background-color: var(--bg-dark-theme);

  /* header section  */
  .header-container-dt {
    background-color: var(--bg-dark-theme);
    display: grid;
    padding: 1em;
    grid-template-columns: repeat(6, 1fr);
    grid-auto-rows: minmax(min-content, max-content);

    .header-resourse-dt {
      display: flex;
      flex-direction: column;
      font-size: 0.8em;
      grid-row: 1;

      > :first-child {
        color: var(--bg-light-theme);
        font-family: var(--roboto-mono);
        font-weight: bold;
      }

      .header-url-dt {
        background-color: var(--bg-light-theme);
        display: flex;
        align-items: center;
        justify-content: space-around;
        padding: 0 1em 0 1em;
        border-radius: 0.4em;
        height: 2.5em;
        font-family: var(--roboto-italic);

        > :last-child {
          border: none;
          background-color: inherit;
          cursor: pointer;
          margin-left: 1em;
        }
      }
    }

    .header-title-container {
      color: var(--bg-light-theme);
      grid-column: 2 / 5;
      text-align: center;
      margin-left: 2em;

      > :first-child {
        font-family: var(--roboto);
        min-width: max-content;
      }
      > :nth-child(2) {
        font-family: var(--roboto-italic);
        text-align: center;
      }
    }

    /* button toggle theme and language styles section */
    .header-btn-container-dt {
      place-self: start end;
      display: flex;
      justify-content: center;
      align-items: center;
      grid-column: 6;

      .header-btn-dt {
        color: #d8f33f;
        background-color: #516677;
        font-size: 1em;
        border-radius: 50%;
        border: none;
        cursor: pointer;
        height: 1.7em;
        line-height: 1.1em;
      }

      .languageBtn {
        background-color: inherit;
        border: none;
        cursor: pointer;
        scale: 0.6;
      }
    }
  }

  /* main section */
  .main-weather-container-dt {
    position: relative;
    font-weight: 400;
    font-family: var(--roboto-mono);
    background-color: var(--bg-dark-theme);
    color: var(--bg-light-theme);
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-areas:
      'form form form'
      'card-info card-info aside'
      'card-info card-info aside'
      'card-info card-info aside';

    /* main feature app : find the current weather depends on text input value */
    .grid-form-area-container-dt {
      place-self: center;
      display: flex;
      grid-area: form;
      margin-right: 0.4em;

      .main-weather-form-dt {
        display: flex;
        height: fit-content;

        .weather-input-dt {
          padding: 0.7em 0 0.7em 1.5em;
          text-transform: capitalize;
          outline: none;
          border: none;
          border-radius: 0.5em 0 0 0.5em;
          font-family: var(--roboto-mono);
          font-weight: bolder;
          color: #424d57;
          /* background: linear-gradient(to right, #2d333a, #2a3c4c, #2a557a); */

          &:focus {
            background-color: #d8d5d5;
          }

          &::placeholder {
            opacity: 0.5;
            font-size: 0.8em;
          }
        }

        .weather-serchBtn-dt {
          border: none;
          cursor: pointer;
          border-radius: 0 0.5em 0.5em 0;
          outline: none;

          &:focus {
            background-color: #516677;
          }
          &:hover {
            background-color: #516677;
            transition: all 300ms;
          }
        }
      }
      /* this section make reference to the researched locations */
      .search-history-dt {
        display: flex;
        position: absolute;
        padding: 2em;
        text-align: center;
        text-transform: capitalize;
        left: 0;
        transform: translate(-20em, -5em) scale(0.5);
        z-index: 1000;
        transition: all 300ms;

        > :first-child {
          display: flex;
          flex-direction: column;
          border-bottom: 2px solid #d8d5d5;
          border-top: 2px solid #d8d5d5;
        }
        > :nth-child(2) {
          display: flex;
          flex-direction: column;
          justify-content: space-around;
          border-bottom: 2px solid #d8d5d5;
          border-top: 2px solid #d8d5d5;
        }
        > :nth-child(3) {
          display: flex;
          flex-direction: column;
          justify-content: space-around;
          border-bottom: 2px solid #d8d5d5;
          border-top: 2px solid #d8d5d5;
        }
        > :last-child {
          right: 0.1em;
          top: 0.1em;
          cursor: pointer;
          position: absolute;
        }
      }
    }

    /* card info with the current weather data */
    .weather-container {
      height: 100%;
      grid-area: card-info;
      padding: 0 3em 0 3em;

      .weather-main-data {
        border: 4px solid #e4e4e425;
        border-bottom: none;
        border-radius: 0.5em 0.5em 0 0;
        position: relative;
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        text-shadow: 2px 2px 2px #000000d2;

        /* this styles are used to render the background img */
        .backgroundImg-container {
          position: absolute;
          height: 100%;
          width: 100%;

          .backgroundImg {
            border-radius: 0.5em 0.5em 0 0;
            height: 100%;
            width: 100%;
          }
        }

        .grid-item-2 {
          margin: 0.5em 0 0 0.5em;
          position: relative;
          display: flex;
          justify-content: center;
          align-items: center;
          gap: 2em;
          height: fit-content;
          border: 4px solid #e4e4e425;
          background: linear-gradient(to right, #2424245b, #2424245b);
          border-radius: 0.4em;
        }
        .grid-item-3 {
          place-self: center;
          position: relative;
          display: flex;
          align-items: center;
          justify-content: center;
          gap: 0.4em;
          border-left: 4px solid #e4e4e425;
          border: 4px solid #e4e4e425;
          background: linear-gradient(to right, #2424245b, #2424245b);
          border-radius: 0.4em;
          padding: 0 1.5em 0 1.5em;
          font-size: 0.6em;
        }

        .grid-item-4 {
          position: relative;
          grid-row: 2/4;
          display: grid;
          grid-template-columns: repeat(3, 1fr);
          grid-template-rows: repeat(3, 1fr);
          place-items: center;
          margin: 0 0 1em 0.5em;
          border: 4px solid #e4e4e425;
          background: linear-gradient(to right, #2424245b, #2424245b);
          border-radius: 0.4em;

          > :first-child {
            grid-column: 2;
            scale: 1.9;
            filter: brightness(1.3);
          }
          > :nth-child(2) {
            grid-column: 2;
            min-width: max-content;
          }

          > :last-child {
            position: relative;
            grid-column: 2;
            grid-row: 2;
            letter-spacing: 1px;
            text-transform: capitalize;
            font-size: 1.3em;
            min-width: max-content;
          }
        }

        .grid-item-5 {
          position: relative;
          grid-column: 2;
          grid-row: 3;
          text-align: center;
          margin: 0 0 1em 0.5em;
          border: 4px solid #e4e4e425;
          background: linear-gradient(to right, #2424245b, #2424245b);
          border-radius: 0.4em;
          margin-right: 0.5em;
        }
      }

      /* main container aditional weather data */
      .weather-aditional-data {
        border-radius: 0 0 0.5em 0.5em;
        border: 4px solid #e4e4e425;
        border-top: none;
        display: flex;
        flex-direction: column;
        background-color: #e2909079;

        .aditional-data-keys {
          display: grid;
          grid-template-columns: repeat(6, 1fr);
          margin-left: 2em;
        }

        .aditional-data-values {
          display: grid;
          grid-template-columns: repeat(6, 1fr);
          margin-left: 2em;
        }
      }
    }

    /* aside section */
    .aside-container {
      position: relative;
      grid-area: aside;
      padding: 0 1em 0 1em;
      text-shadow: 2px 2px 2px #000;
      border-radius: 0.7em 0 0 0.7em;
      overflow: hidden;

      > ::after {
        content: '';
        position: absolute;
        left: 0;
        top: 0;
        background: url('../src/assets/images/city.png') no-repeat center top;
        background-size: cover;
        width: 100%;
        height: 100%;
        opacity: 0.3;
      }

      > :first-child {
        text-align: center;
        font-family: var(--oswald);
        position: relative;
      }

      .aside-weather-next-days {
        display: flex;
        flex-direction: column;
        z-index: 1000;
        font-weight: bolder;

        .aside-grid-item-1 {
          position: relative;
          z-index: 1000;
          padding: 0.4em;
          padding-bottom: 1em;
          display: grid;
          grid-template-columns: repeat(3, 1fr);
          grid-template-rows: repeat(4, minmax(min-content, max-content));

          > :first-child {
            grid-row: 1;
            grid-column: 3;
            font-size: 0.7em;
            font-weight: bolder;
          }
          > :nth-child(2) {
            grid-row: 4;
            grid-column: 1;
            font-size: 0.9em;
          }
          > :nth-child(3) {
            grid-column: 2;
            grid-row: 3;
            font-size: 1.5em;
          }
          > :nth-child(4) {
            grid-row: 4;
            grid-column: 3;
            font-size: 0.9em;
            text-align: end;
          }
          > :last-child {
            scale: 2;
            position: absolute;
            z-index: 1000;
          }
        }
        .aside-grid-item-2 {
          position: relative;
          border-bottom: 2px solid var(--bg-light-theme);
          border-top: 2px solid var(--bg-light-theme);
          gap: 1em;
          padding: 0.4em;
          z-index: 1000;
          padding-bottom: 1em;

          display: grid;
          grid-template-columns: repeat(3, 1fr);
          grid-template-rows: repeat(4, minmax(min-content, max-content));

          > :first-child {
            grid-row: 1;
            grid-column: 3;
            font-size: 0.7em;
            font-weight: bolder;
          }
          > :nth-child(2) {
            grid-row: 4;
            font-size: 0.9em;
            grid-column: 1;
          }
          > :nth-child(3) {
            grid-column: 2;
            font-size: 1.5em;
            grid-row: 3;
          }
          > :nth-child(4) {
            grid-row: 4;
            font-size: 0.9em;
            grid-column: 3;
            text-align: end;
          }
          > :last-child {
            scale: 2;
            position: absolute;
            z-index: 1000;
          }
        }
        .aside-grid-item-3 {
          gap: 1em;
          padding: 0.4em;
          position: relative;
          z-index: 1000;
          display: grid;
          grid-template-columns: repeat(3, 1fr);
          grid-template-rows: repeat(4, minmax(min-content, max-content));

          > :first-child {
            grid-row: 1;
            grid-column: 3;
            font-size: 0.7em;
            font-weight: bolder;
          }
          > :nth-child(2) {
            grid-row: 4;
            font-size: 0.9em;
            grid-column: 1;
          }
          > :nth-child(3) {
            grid-column: 2;
            font-size: 1.5em;
            grid-row: 3;
          }
          > :nth-child(4) {
            grid-row: 4;
            font-size: 0.9em;
            grid-column: 3;
            text-align: end;
          }
          > :last-child {
            position: absolute;
            scale: 2;
            z-index: 1000;
          }
        }
      }
    }
  }

}
